@font-face {
  font-family: Moderat-Light;
  src: url(./fonts/Moderat-Light.otf);
}

body {
  font-family: 'Moderat-Light';
  background-color: #fff;
}

.poster-wrapper {
  display: table;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.poster-container {
  display: table-cell;
  vertical-align: middle;
  padding: 100px;
}

.poster-canvas-container {
  position: relative;
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
}

#poster-canvas-rainbow {
  width: 100%;
  height: auto;
  z-index: 0;
}

#poster-canvas-text, #poster-canvas-stickers, #poster-canvas-logo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#poster-canvas-text {
  z-index: 1;
}

#poster-canvas-stickers {
  z-index: 2;
}

#poster-canvas-logo {
  z-index: 3;
}